[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"

[scripts]
dev = "mkdocs serve"
deploy = "mkdocs gh-deploy"
build = "mkdocs build"
